<div id="new_password">
  <%= form_tag( password_resets_path, :method => "post") do  %>
    <div class="form-row">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>

    <div class="form-row button-row">
      <%= submit_tag 'Reset Password' %>
    </div>
  <% end %>
</div><!--// end new_password //-->
