.rvmrc
.bundle
.DS_Store
*.swp
log/*.log
tmp/**/*
tmp/*
db/sphinx/**/*
config/database.yml
db/*.sqlite3
config/development.sphinx.conf
config/cucumber.sphinx.conf
public/system/**/**/**/*
.sass-cache/**/*
.idea/*
gitflow/*
gitflow
db/sphinx/*
config/*.sphinx.conf
log/*.pid
public/uploads/*
