<div class="form-row">
  <label for="user_project_<%= project.id %>"><%= project.name %></label>
  <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project), :id => "user_project_#{project.id}" %>
  <%= hidden_field_tag "user[project_ids][]", "" %>
</div>
