<h2>Users</h2>
<%= link_to "Add User", new_user_path, :class => 'add-btn' %>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Assigned bugs</th>
    <th>Created</th>
    <th></th>
  </thead>
  <tbody>
    <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>
