<tr>
  <td>
    <%= link_to project.name, edit_project_path(project) %>
  </td>
  <td>
    <%= project.created_at %>
  </td>
  <td>
    <%= link_to "Delete", project_path(project), :method => :delete %>
  </td>
</tr>
