<h2>Projects</h2>
<%= link_to "Add Project", new_project_path, :class => 'add-btn'%>
<table>
  <thead>
    <th>Name</th>
    <th>Created At</th>
    <th></th>
  </thead>
  <tbody>
    <%= render :partial => 'project', :collection => @projects %>
  </tbody>
</table>

